<html layout:decorate="~{layout}">
    <head><meta charset="UTF-8" /></head>
    <body>
    <section class="layout-content" layout:fragment="corpo">
        <header class="v-header container">
            <div class="oi oi-caret-right">
                <video autoplay loop muted >
                    <source src="video/SANTIAGO - CHILE. DJI Phantom 4 - Epic Drone Aerial Footage. Drone Flight Over The City in 4k..mp4">
                </video>
                <div class="header-content">
	                <h1>Faces Bank</h1>
	                <p> Um Banco com a sua cara</p>
	                <a href="vinhos.html" class="btn">Login</a>
                </div>
            </div>
        </header>
       </section>
    </body>
</html>